.navbar{
    height:50px;
    background-color:#003580;
    display:flex;
    justify-content:center;
}
.container{
    width:100%;
    max-width:1024px;
/*     background-color:red; */
    color:white;
    align-items:center;
    justify-content:space-between;
    display:flex;
}
.logo{
    font-weight:500;
}

.navButton{
    margin-left:20px;
    background-color:#003580;
    padding:5px 10px;
    border: 0px ;
    cursor: pointer;
    font-weight:600;

    color:#f7fff9;
    border-radius:4px;
}
